/* MEME GALLERY */

.search-bar {
    background-color: rgba(163, 163, 255, 0.9);
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}

.upload {
    font-family: 'Days One', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-size: 1rem;
    margin-top: 0.3rem;
}

a.upload-btn {
    color: white;
    background-color: rgba(112, 115, 255, 0.986);
    padding: 1rem;
    text-transform: capitalize;
    transition: .3s;
}

a.upload-btn:hover {
    background-color: #000;
}

.upload input {
    display: none;
    cursor: pointer;
}

.growing-word {
    flex: 3;
}

.search-upload {
    width: 50%;
}

.search-bar a {
    display: inline-block;
    font-family: 'Days One', sans-serif;
    margin: .2rem;
    background-color: #6c757d;
    text-transform: capitalize;
    color: white;
    display: inline-block;
    padding: .25em .4em;
    font-size: .9rem;
    border-radius: .25rem;
    transition: background-color .3s;
}

.search-bar a:not(:last-of-type):hover {
    background-color: rgb(0, 0, 0);
}

.search-bar a.show-more {
    background-color: rgb(0, 45, 170);
}

.search-bar input {
    padding: 0.6rem;
    font-family: 'Days One', sans-serif;
}

.meme-gallery {
    margin-top: 20px;
    /* padding-inline-start: 5rem; */
}

.meme-gallery img, .saved-memes-container img {
    width: 222px;
    height: 222px;
    margin: .4rem;
    border: 1px solid black;
    border-radius: 1rem;
    transition: all .3s;
    cursor: pointer;
}

.memes {
    text-align: center;
    padding-inline-start: 4rem;
}

.memes h2 {
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    cursor: default;
    text-shadow: 3px 3px 3px white;
    font-size: 2rem;
    border: 2px solid black;
    color: rgb(161, 161, 161);
    background-color: rgba(3, 3, 3, 0.582);
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    margin: 10px auto;
}

.memes h2 span {
    color: rgb(163, 163, 255);
    text-shadow: 3px 3px 3px white;
}

.meme-gallery img:hover, .saved-memes-container img:hover {
    opacity: 0.85;
    border: 1px double white;
}

@media (max-width: 1050px) {
    .meme-gallery img, .memes img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 860px) {
    .meme-gallery {
        padding: 0;
        padding-inline-start: 4rem;
    }
    .meme-gallery img, .memes img {
        width: 265px;
        height: 265px;
        margin: .25rem;
    }
}

@media (max-width: 620px) {
    .meme-gallery img, .memes img {
        width: 200px;
        height: 200px;
        margin: .25rem;
    }
    .search-bar {
        flex-direction: column;
        width: 425px;
    }
    .search-bar span {
        margin-top: .5rem;
    }
    .memes h2 {
        width: 200px;
        font-size: 1rem;
    }
    a.upload-btn {
        font-size: 1rem;
        width: 190px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .meme-gallery {
        padding: 0;
        padding-inline-start: 4rem;
    }
    .meme-gallery img, .memes img {
        width: 140px;
        height: 140px;
        /* margin-inline-start: 1rem; */
    }
    .search-bar {
        text-align: center;
        flex-direction: column;
        width: 300px;
    }
    .search-bar input {
        padding: .4rem;
        width: 130px;
        font-size: .5rem;
    }
    a.upload-btn {
        font-size: .8rem;
        width: 130px;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .container {
        max-width: 320px;
    }
    .meme-gallery {
        padding-inline-start: 1rem;
    }
    a.upload-btn {
        font-size: .7rem;
        width: 115px;
    }
    .meme-gallery img, .memes img {
        width: 275px;
        height: 275px;
    }
    .search-bar input {
        padding: 0.4rem;
        width: 200px;
    }
}

