
/* MEME EDITOR */

.canvas-container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-inline-end: 1rem;
}

canvas {
    cursor: crosshair;
}

.meme-editor {
    margin-top: 1.6rem;
    border: 2px solid black;
    height: 500px;
    box-sizing: content-box;
    padding: 20px;
    background-color: rgb(162, 212, 255);
    box-shadow: 4px 4px 4px black;
}

.edit-tools {
    box-sizing: border-box;
    text-align: center;
    flex: 1;
}

.edit-tools input[name="lineText"] {
    margin-top: 1.6rem;
    padding: 0.7rem;
    margin: 10px auto;
    box-shadow: 2px 2px 4px black;
    outline: none;
    font-family: 'Trebuchet MS', sans-serif;
}

.edit-tools button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.384);
    box-shadow: 2px 2px 4px black;
}

.switch-lines-btn {
    height: 2.6rem;
    width: 2.6rem;
    font-size: 1.2rem;
    margin-inline-start: .5rem;
}

.lines-add-remove button {
    background-color: #000;
    color: white
}

.text-edit button, .align-text button, .lines-add-remove button {
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    margin: 5px 0.2rem;
}

.font-edit select {
    margin-top: 0.8rem;
    padding: 0.5rem;
}

.font-color-size {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}


.font-color-size label {
    background-color: rgb(216, 216, 216);
    border: 1px solid rgba(0, 0, 0, 0.384);
    box-shadow: 2px 2px 4px black;
    padding: 0.5rem;
}

.font-color-size i {
    cursor: pointer;
}

input[type="color"] {
    -webkit-appearance: none;
    outline: none;
	border: none;
	width: 0em;
    height: 0em;
    cursor: pointer;
    background-color: transparent;

}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}

/* input[name="fontColor"] {
    background: url('../icons/color.png') no-repeat center center;
    background-size: cover;
} */

.align-text {
    font-size: 1.6rem;
}

.align-text button {
    transition: .3s;
    z-index: 0;
}

.align-text button.mode {
    background-color: rgb(129, 188, 255);
}

.stickers {
    margin-top: .6rem;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 10px;
    font-size: 2rem;
    border: 1px solid black;
}

.stickers span {
    cursor: pointer;
}

button.share-btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 0.5rem;
    font-family: 'Days One', sans-serif;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px black;
    transition: all .7s;
    margin-bottom: .5rem;
    width: 115px;
}

button.share-btn:hover {
    background-color: rgb(112, 177, 252);
    transform: scale(1.1);
}

a.download-meme {
    width: 35px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 0.5rem;
    font-family: 'Days One', sans-serif;
    box-shadow: 2px 2px 2px black;
    transition: .3s;
}

a.download-meme:hover {
    opacity: 1;
}

@media (max-width: 860px) {
    .meme-editor {
        flex-direction: column;
        height: 800px;
        margin-bottom: 1rem;
    }
    .canvas-container {
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 620px) {
    .canvas-container {
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }
}