* {
    box-sizing: border-box;
}

/* BASE */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background: url('../icons/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

button {
    cursor: pointer;
    outline: none;
    font-family: 'Days One', sans-serif;
}

input[type="color"] {
    -webkit-appearance: none;
    outline: none;
	border: none;
	width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}

/* font-family: 'Black Ops One', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Frijole', cursive; */

a {
    text-decoration: none;
    color: inherit;
}

/* NAV */

.nav {
    background-color: rgba(230, 230, 230, 0.781);
    border-bottom: 1px solid #000;
    box-shadow: 0px 6px 8px 0px black;
    font-family: 'Days One', sans-serif;
}

.logo {
    font-family: 'Days One', sans-serif;
    font-size: 2.5rem;
    color: rgb(161, 161, 161);
    transition: .7s;
}
.logo:hover {
    transform: scale(1.2);
}

.logo span {
    color: rgb(163, 163, 255);
}

.main-nav {
    margin: 0;
}

.main-nav li {
    border-right: 1px solid black;
}

.main-nav li:first-child {
    border-left: 1px solid black;
}

.main-nav li a {
    background-color: rgba(163, 163, 255, 0.473);
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    transition: background-color .7s, color .7s;
}


.main-nav li a:hover {
    background-color: rgba(163, 163, 255);
    color: white;
}

/* HELPERS */


.container {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-around {
    justify-content: space-around;
}

.flex.justify-center {
    justify-content: space-center;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style: none;
}

.hide {
 display: none;
}

/* RESPOSIVENESS */

@media (max-width: 1050px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 550px;
    }
    .main-nav li a {
        height: 75px;
        width: 75px;
        font-size: 0.75rem;
    }
    .logo {
        font-size: 1.5rem;
    }
}

@media (max-width: 620px) {
    .container {
        max-width: 400px;
    }
}